<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${AppData}\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="'AzureCloudserviceDeployer_'yyyyMMdd'.txt'"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="100MB"/>
      <staticLogFileName value="false"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-3thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-3thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
  <appSettings>
    <!-- Fixed login uri (PowerShell) -->
    <add key="login" value="https://login.windows.net/{0}"/>
    <!-- This tenantid is used when no subscription has been chosen -->
    <add key="tenantId" value="common"/>
    <!-- Azure Service Management API endpoint -->
    <add key="apiEndpoint" value="https://management.core.windows.net/"/>
    <!-- Well-known client-ID for PowerShell -->
    <add key="clientId" value="1950a258-227b-4e31-a9cf-717495945fc2"/>
    <!-- RedirectUri for PowerShell, must match configuration of client-ID -->
    <add key="redirectUri" value="urn:ietf:wg:oauth:2.0:oob"/>
    <!--<add key="login" value="https://login.windows.net/{0}" />
    <add key="tenantId" value="bf48a3b9-b6a3-4ada-b5b9-28268175787c" />
    <add key="apiEndpoint" value="https://management.core.windows.net/" />
    <add key="clientId" value="23eb0166-011d-467b-9d6d-8a2b7a261d7a" />
    <add key="redirectUri" value="http://localhost/AzureCloudserviceDeployer" />-->
  </appSettings>
</configuration>
